body{
  background-color: #82DBD8;
  background-image: linear-gradient(#7971ea,red);
}
hr
{
  background-color: #82DBD8;
  border-color:grey;
  border-width: thick 10px;
  border-style:dotted none none;<!-- to implement dotted  border, none none to only get the top border-->
  border-height:1px;
  width: 12%;<!-- by this the width will adjust itself even if the website is open on mobile or laptop-->

}
img{
  border-radius:50%;
}
h1{
  color:#B7D3DF;
  font-family:Marker Felt,fantasy;
}
h3{
  color:#F15412;
}
